body {    /* <!-- For the navigation --> example for color */
    background-color: lightgrey;
}

/* <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>How to Use CSS in Your Page</title>
		<!-- add normalize below -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
		<!-- add your style.css file below that's in the css directory -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- styling in the head example -->
		<style>
			code {
				color: red;
				background-color: lightgreen;
			}
		</style>
  </head>
	<!-- inline style example (recommended not to use inline styling) -->
  <body style="background-color: lightblue;">
		<h1>Hello from the <code>style</code> tag</h1>
		<p>My color is coming from the <code>style.css</code> file</p>
  </body>  <!-- example for color-->

  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700 */

/* .roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

  body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
    font-family: 'Abril Fatface', serif;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }  

  img {
    width: 100%;
  }
 /* <!DOCTYPE html> 	<!-- For the typography -->
  <html>
  
  <head>
      <meta charset="utf-8">
      <title>Typography</title>
      <!-- add normalize below -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
      <!-- add custom font here -->
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
      <!-- we will continue to use our style.css file for styling -->
      <link rel="stylesheet" type="text/css" href="css/style.css">
  
  </head>
  <!-- inline style example (recommended not to use inline styling) -->
  
      <body>
          <h1>Heading <code>h1</code></h1>
          <h2>Heading <code>h2</code></h2>
          <h3>Heading <code>h3</code></h3>
          <p>My color is coming from the <code>style.css</code> file</p>
          <h2 class="makeUppercase underlineMe">i want to be all uppercase and underline!!</h2>
          <h3 class="makeUppercase">i want to be all uppercase but just <span class="underlineMe">underline me</span></h3>
          <h3 class="makeLowercase">MAKE ME ALL LOWERCASE PLEASE, BUT <span class="underlineMe makeUppercase">underline me and upper!</span></h3>
      </body>
  </html>

  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;


  .button.contact {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }
  
  .button.contact:hover {
    background-color: #ff7f50;
    color: #ffffff;
  }
  a {
    color: #ff7f50;
    text-decoration: none; /* No underlining */
  }
  a:visited { /* visited link */
    color: #ff7f50;
  }
  a:hover,
  a:focus {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:active { /* selected link */
    color: #994c30;
  }
  a {/* element selector */
    color: red;
  }
  
  #my-link {/* id selector */
    color: green;  
  }
  
  .my-link {/* class selector */
    color: blue;  
  }
  .button {<a href="#" class="button">Read more</a>} /*for read more button */
  
  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ff7f50;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition: 0.2s opacity;
  }