* {
  box-sizing: border-box;
}

body {    /* <!-- For the navigation --> example for color */
    background-color: rgb(211, 211, 211);
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px; /* Sets the font size to 1px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Abril Fatface', serif;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}  

img {
  width: 100%;
}

.button.contact {
  background-color: transparent;
  color: #c6a599;
  text-transform: uppercase;
  border: 2px solid #000000;
}

.button.contact:hover {
  background-color: #b9a096;
  color: #ffffff;
}

a {
  color: #e08a6bca;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #ac8e79;
}

a:hover,
a:focus {
  color: #a27d6f;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #994c30;
}
a {/* element selector */
  color: red;
}

#my-link {/* id selector */
  color: rgb(86, 122, 86);  
}

.my-link {/* class selector */
  color: blue;  
}

.social-icon { /* Sizes for icons */
  display: inline-block;
  width: 32px;
  height: 32px;
}

/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1200px;
}

footer .container {
  padding: 15px 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work-section .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero-section h1 {
  text-align: center; /* Centers text */
}

#hero-section span {
  display: block;
}

#hero-section {
  background-color: #faeddb;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.center {   /* aligns h1 text? */
  text-align: center;
}

.logo {
  max-width: 250px;
}

header {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  background-color: #ffecd6;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  /*start shadow ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #ffffff; 
	border: solid #ebebeb 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}

main {
  padding-top: 267px;
}

.css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}
.button:hover.active { 
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
nav {
  display: inline-block;
  width: 100%;
}
header h2 {
  display: inline-block;
}
nav > ul { /* only selects unordered lists within the nav element*/
  list-style-type: none;
  padding: 0;
}
nav > ul > li { /* only selects list elements in unordered lists within the nav element.*/
  display: inline-block;
}
nav > ul > li > a {  /*links that are list elements within an unordered list within the nav.*/ 
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
nav > ul > li > a:visited {  /*links that are list elements within an unordered list within the nav.*/ 
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b2abab;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #E0E8CC;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #000000; /* width of the border, type, color */
  transition: 0.2s opacity;
}